{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}
{% block javascripts %}<script src="{{asset('JS/Site.js')}}"></script>{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('CSS/Site.css')}}">{% endblock %}

{% block body %}
    {% if site.timer == 0 or (site.timer == 1 and site.dateinitial < date('now') and site.datefinal > date('now')) %}
        <div class="GroupeSiteItem">
            <div class="TimerBoutonsFavori">
                <a href="{{route}}" class="BoutonsEtapes" id="Retour">
                    Retour liste des Sites
                </a>
                {% if app.user %}
                    <div class="BoutonLienFavoris">
                        {% set est_favori = false %}
                        {% for favori in site.favoris %}
                            {% if favori.utilisateur.id is same as app.user.id %}
                                {% set est_favori = true %}
                            {% endif %}
                        {% endfor %}
                        {% if est_favori == true %}
                                <a href="/favori/supprimer/{{site.id}}" class="LiensFavori" id="SuppressionFavori">
                                    <img src="{{asset('IMG/ICONES/PasFavoriHover.png')}}" alt="ajout aux favoris" class="IconesFavoris" id="CoeurVide">
                                    <img src="{{asset('IMG/ICONES/Favori.png')}}" alt="retrait des favoris" class="IconesFavoris" id="CoeurPlein">
                                </a>
                        {% else %}
                            <a href="/favori/ajouter/{{site.id}}" class="LiensFavori" id="AjoutFavori">
                                <img src="{{asset('IMG/ICONES/PasFavori.png')}}" alt="ajout aux favoris" class="IconesFavoris" id="CoeurVide">
                                <img src="{{asset('IMG/ICONES/FavoriHover.png')}}" alt="retrait des favoris" class="IconesFavoris" id="CoeurPlein">
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% if site.timer == 1 %}
                <div class="Hide">{{site.id}}, {{site.datefinal|date('Y-m-d H:m:s')}}</div>
            {% endif %}
            <h1>{{site.interethistorique}}</h1>
            <hr>
            <div class="ElementSite">
                <div class="ElementSiteChild">
                    <h2>Département :</h2>
                    <hr>
                    <p>{{site.departement}}</p>
                </div>
                <div class="ElementSiteChild">
                    <h2>Commune :</h2>
                    <hr>
                    <p>{{site.commune}}</p>
                </div>
                <div class="ElementSiteChild">
                    <h2>Lieu-dit :</h2>
                    <hr>
                    <p>{{site.lieuxdit}}</p>
                </div>
            </div>
            {% if site.timer == 1 %}
                <p class="Timer">00:00:00</p>
            {% endif %}
        </div>
    {% else %}
        <script>window.location.href = "/home/Ce site n'est plus accessible !" </script>
    {% endif %}
{% endblock %}