{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('CSS/Actualite.css')}}">{% endblock %}

{% block body %}
    <h1>Actualités</h1>
    <hr>
    <div class="BlocActualite">
        {% for actualite in actualites %}
            {% if actualite.priorite == 2 %}
                <a class="LiensActualites Prioritaire" href="{{actualite.lien}}">
                    <h2>{{actualite.titre}}</h2>
                    <div class="ImageActualite">
                        <img src="{{asset('IMG/ACTUALITE/')}}{{actualite.image}}" alt="{{actualite.titre}}">
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        <div class="BlocNonPrioritaire">
            {% for actualite in actualites %}
                {% if actualite.priorite == 1 %}
                    <a class="LiensActualites NonPrioritaire" href="{{actualite.lien}}">
                        <h2>{{actualite.titre}}</h2>
                        <div class="ImageActualite1">
                            <img src="{{asset('IMG/ACTUALITE/')}}{{actualite.image}}" alt="{{actualite.titre}}">
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            {% for actualite in actualites %}
                {% if actualite.priorite == 0 or actualite.priorite == NULL %}
                    <a class="LiensActualites AucunePriorite" href="{{actualite.lien}}">
                        <h2>{{actualite.titre}}</h2>
                        <div class="ImageActualite2">
                            <img src="{{asset('IMG/ACTUALITE/')}}{{actualite.image}}" alt="{{actualite.titre}}">
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
