{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block javascripts %}<script src="{{asset('JS/Home.js')}}"></script>{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('CSS/Home.css')}}">{% endblock %}

{% block body %}

    <div class="GroupeHome">
        <div id="GroupeHero">
            <img src="{{asset('IMG/pexels-bas-geerlings-6728037.jpg')}}" alt="hero" class="Hero">
            <h1 class="LOFP">LOFP</h1>
        </div>
        <div class="GroupeActualite">
            <div id="Carroussel">
                {% set count = 0 %}
                {% for actualite in actualites %}
                    {% if actualite.priorite == 2 %}
                        {% set count = count + 1 %}
                        <div class="BlocActualite{% if count > 1 %} Hide{% endif %}" id="Silder{{ count }}" href="{{actualite.lien}}">
                            <img src="{{asset('IMG/ACTUALITE/')}}{{actualite.image}}" alt="Actualités {{ count }}" class="ImageActu">
                            <div class="TitreActualite">
                                <h3>{{actualite.titre}}</h3>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for actualite in actualites %}
                    {% if count < 5 %}
                        {% if actualite.priorite == 1 %}
                            {% set count = count + 1 %}
                            <div class="BlocActualite{% if count > 1 %} Hide{% endif %}" id="Silder{{ count }}" href="{{actualite.lien}}">
                                <img src="{{asset('IMG/ACTUALITE/')}}{{actualite.image}}" alt="Actualités {{ count }}" class="ImageActu">
                                <div class="TitreActualite">
                                    <h3>{{actualite.titre}}</h3>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <h2 class='ActualiteH2'><a href="/actualites">Actualités</a></h2>
            <div class="FlecheActualite" id="FlecheGauche" onclick="carroussel({{count}})">
                <img src="{{asset('IMG/ICONES/ToLeftHover.png')}}" alt="Actualité précédente">
            </div>
            <div class="FlecheActualite" id="FlecheDroite" onclick="carroussel({{2}})">
                <img src="{{asset('IMG/ICONES/ToRightHover.png')}}" alt="Actualité suivante">
            </div>
            <div class="BoutonSelectionActualite">
                {% for i in 1.. count %}
                    <div class="BoutonActualite" id="BoutonActualite{{i}}" onclick="carroussel({{i}})">
                        <div class="{% if i == 1 %}Selectionne{% else %}PasSelectionne{% endif %}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="GroupeSitesTemporaire">
            <h2><a href="/informationssitestemporaires">Sites à Durée Limité</a></h2>
            <div class="GroupeCard">
            {% set i = 0 %}
            {% for site in sites %}
                {% if site.tempsrestant < date('now') %}
                    {% if i < 3 %}
                        {% set i = i + 1 %}
                        <div class="CardSite">
                            <div class="TimerBoutonsFavori">
                                <h3 class="Limited">{{site.typetimer}}</h3>
                                {% if app.user %}
                                    <div class="BoutonLienFavoris">
                                        {% set est_favori = false %}
                                        {% for favori in site.favoris %}
                                            {% if favori.utilisateur.id is same as app.user.id %}
                                                {% set est_favori = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if est_favori == true %}
                                                <a href="/favori/supprimer/{{site.id}}" class="LiensFavori" id="SuppressionFavori">
                                                    <img src="{{asset('IMG/ICONES/PasFavoriHover.png')}}" alt="ajout aux favoris" class="IconesFavoris" id="CoeurVide">
                                                    <img src="{{asset('IMG/ICONES/Favori.png')}}" alt="retrait des favoris" class="IconesFavoris" id="CoeurPlein">
                                                </a>
                                        {% else %}
                                            <a href="/favori/ajouter/{{site.id}}" class="LiensFavori" id="AjoutFavori">
                                                <img src="{{asset('IMG/ICONES/PasFavori.png')}}" alt="ajout aux favoris" class="IconesFavoris" id="CoeurVide">
                                                <img src="{{asset('IMG/ICONES/FavoriHover.png')}}" alt="retrait des favoris" class="IconesFavoris" id="CoeurPlein">
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <h2>{{site.interethistorique}}</h2>
                            <hr>
                            <div class="JustifierSite">
                                <p>Département : {{site.departement}}</p>
                                <p>Commune : {{site.commune}}</p>
                                <p>Lieux-dit : {{site.lieuxdit}}</p>
                                {# <p>{{site.tempsrestant}}</p> #}
                            </div>
                            <a href="/site/limiteitem/{{site.id}}" class="BoutonsEtapes">
                                Voir
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
