{% extends 'base.html.twig' %}

{% block title %}Sites à Durée Limité{% endblock %}
{% block javascripts %}<script src="{{asset('JS/InformationsSitesTemporaires.js')}}"></script>{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('CSS/Home.css')}}">{% endblock %}

{% block body %}
    <h2 class="Titre">Sites à Durée Limité</h2>
    <div class="GroupeCard">
    {% for site in sites %}
        {% if site.dateinitial < date('now') and site.datefinal > date('now') %}
            <div class="CardSite">
                <div class="TimerBoutonsFavori">
                    <h3 class="Limited">00:00:00</h3>
                    <div class="Hide">{{site.id}}, {{site.datefinal|date('Y-m-d H:m:s')}}</div>
                    {% if app.user %}
                        <div class="BoutonLienFavoris">
                            {% set est_favori = false %}
                            {% for favori in site.favoris %}
                                {% if favori.utilisateur.id is same as app.user.id %}
                                    {% set est_favori = true %}
                                {% endif %}
                            {% endfor %}
                            {% if est_favori == true %}
                                    <a href="/favori/supprimer/{{site.id}}" class="LiensFavori" id="SuppressionFavori">
                                        <img src="{{asset('IMG/ICONES/PasFavoriHover.png')}}" alt="ajout aux favoris" class="IconesFavoris" id="CoeurVide">
                                        <img src="{{asset('IMG/ICONES/Favori.png')}}" alt="retrait des favoris" class="IconesFavoris" id="CoeurPlein">
                                    </a>
                            {% else %}
                                <a href="/favori/ajouter/{{site.id}}" class="LiensFavori" id="AjoutFavori">
                                    <img src="{{asset('IMG/ICONES/PasFavori.png')}}" alt="ajout aux favoris" class="IconesFavoris" id="CoeurVide">
                                    <img src="{{asset('IMG/ICONES/FavoriHover.png')}}" alt="retrait des favoris" class="IconesFavoris" id="CoeurPlein">
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <h2>{{site.interethistorique}}</h2>
                <hr>
                <div class="JustifierSite">
                    <p>Département : {{site.departement}}</p>
                    <p>Commune : {{site.commune}}</p>
                    <p>Lieu-dit : {{site.lieuxdit}}</p>
                </div>
                <a href="/site/limiteitem/{{site.id}}" class="BoutonsEtapes">
                    Voir
                </a>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

