

{% block title %}Compte{% endblock %}

{% block body %}
    <p>
        Lorem,
        ipsum dolor sit amet consectetur adipisicing elit.
        Labore,
        sequi accusamus modi fugit earum iste dolorum provident vero natus eius rerum aperiam recusandae necessitatibus!
        Culpa necessitatibus quidem voluptatem nemo unde!
    </p>
    {% for utilisateur in liste %}
        <p>
            id : {{utilisateur.nom}}
        </p>
        <p>
            Nom : {{utilisateur.nom}}
        </p>
        <p>
            Prénom : {{utilisateur.prenom}}
        </p>
        <p>
            Sexe : {{utilisateur.sexe}}
        </p>
        <p>
            Date de naissance : {{utilisateur.datedenaissance}}
        </p>
        <p>
            Email : {{utilisateur.email}}
        </p>
        <p>
            Pseudo : {{utilisateur.pseudo}}
        </p>
        <p>
            pp : {{utilisateur.pp}}
        </p>
        <p>
            Droit : {{utilisateur.droit}}
        </p>
        <p>
            Date de creation du compte : {{utilisateur.datecreationducompte}}
        </p>
    {% endfor %}
{% endblock %}