{% extends 'admin/index.html.twig' %}

{% block admin %}
    <div id="GroupeListeSite">
        <h2>Liste des Sites</h2>
        <table class="TableauListe">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Département</th>
                    <th>Commune</th>
                    <th>Lieu-dit</th>
                    <th>Interêt Historique</th>
                    <th>Lien</th>
                    <th>Timer</th>
                    <th>Date Initial</th>
                    <th>Date Final</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for site in liste %}
                    <tr class="liste">
                        <td>{{site.id}}</td>
                        <td>{{site.departement}}</td>
                        <td>{{site.commune}}</td>
                        <td>{{site.lieuxdit}}</td>
                        <td>{{site.interethistorique}}</td>
                        <td>{{site.lien}}</td>
                        <td>
                            {% if site.timer == 0 %}
                                Non
                            {% else %}
                                Oui
                            {% endif %}
                        </td>
                        <td>
                            {% if site.dateinitial == NULL %}
                                NONE
                            {% else %}
                                {{site.dateinitial|date}}
                            {% endif %}
                        </td>
                        <td>
                            {% if site.datefinal == NULL %}
                                NONE
                            {% else %}
                                {{site.datefinal|date}}
                            {% endif %}
                        </td>
                        <td>
                            <a href="/admin/site/modifier/{{site.id}}">
                                <img src="{{asset('IMG/ICONES/Modifier.png')}}" alt="modifier" class="Icone">
                            </a>
                        </td>
                        <td>
                            <a  onclick="message(true, '/admin/site/supprimer/{{site.id}}', 'Cette action est irréversible.<br>Voulez-vous supprimer le site &ldquo;{{site.id}}&rdquo; ?')">
                                <img src="{{asset('IMG/ICONES/Supprimer.png')}}" alt="supprimer" class="Icone">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Département</th>
                    <th>Commune</th>
                    <th>Lieux-dit</th>
                    <th>Interêt Historique</th>
                    <th>Lien</th>
                    <th>Timer</th>
                    <th>Date Initial</th>
                    <th>Date Final</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}