{% extends 'admin/index.html.twig' %}

{% block admin %}
    <div id="GroupeListeUtilisateur">
        <h2>Liste des Comptes</h2>
        <table class="TableauListe">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Date de naissance</th>
                    <th>Email</th>
                    <th>Pseudo</th>
                    <th>Photo de Profil</th>
                    <th>Droits</th>
                    <th>Date de Creation du Compte</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for utilisateur in liste %}
                    <tr class="liste">
                        <td>{{utilisateur.id}}</td>

                        <td>{{utilisateur.prenom}}</td>
                        <td>{{utilisateur.nom}}</td>
                        <td>{{utilisateur.sexe}}</td>
                        <td>{{utilisateur.datedenaissance | date('d-m-Y')}}</td>
                        <td>{{utilisateur.email}}</td>
                        <td>{{utilisateur.pseudo}}</td>
                        <td>
                            {% if utilisateur.photodeprofil %}
                                <div class="PPUtilisateurs">
                                    <img src="{{asset('IMG/PP/' ~ utilisateur.photodeprofil)}}" alt="photo de profil" onload="resizeIconeHeader(this)">
                                </div>
                            {% else %}
                                AUCUNE
                            {% endif %}
                        </td>
                        <td>
                            {% set est_administrateur = false %}
                            {% set est_utilisateur = false %}
                            {% for roles in utilisateur.roles %}
                                {% if roles is same as ('ROLE_ADMIN') %}
                                    {% set est_administrateur = true %}
                                {% elseif roles is same as ('ROLE_USER') %}
                                    {% set est_utilisateur = true %}
                                {% endif %}
                            {% endfor %}
                            {% if est_administrateur %}
                                Administrateur
                            {% elseif est_utilisateur %}
                                Utilisateur
                            {% else %}
                                Problème avec l'utilisateur.<br>
                                <red>Action requise !</red>
                            {% endif %}
                        </td>
                        <td>{{utilisateur.datedecreationducompte | date('d-m-Y')}}</td>
                        {% if utilisateur is same as (app.user) %}
                            <td></td>
                            <td></td>
                        </tr>
                        {% else %}
                            <td>
                                <a href="/admin/compte/modifier/{{utilisateur.id}}">
                                    <img src="{{asset('IMG/ICONES/Modifier.png')}}" alt="modifier" class="Icone">
                                </a>
                            </td>
                            <td>
                                <a  onclick="message(true, '/admin/compte/supprimer/{{utilisateur.id}}', 'Cette action est irréversible.<br>Voulez-vous supprimer le compte &ldquo;{{utilisateur.id}}&rdquo; ?')">
                                    <img src="{{asset('IMG/ICONES/Supprimer.png')}}" alt="supprimer" class="Icone">
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Date de naissance</th>
                    <th>Email</th>
                    <th>Pseudo</th>
                    <th>Photo de Profil</th>
                    <th>Droits</th>
                    <th>Date de Creation du Compte</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}